<section id="certifications" class="certifications">

    <h2 class="section-title">🏆 Certifications</h2>

    <p class="section-subtitle">
        Continuous learning through industry-recognized certifications, professional training, and hands-on technical programs.
    </p>

    <div class="cert-grid">

        <!-- NPTEL -->

        <div class="cert-card">

            <img src="{{ url_for('static', filename='images/nptel.png') }}" alt="NPTEL">

            <h3>Business Intelligence & Analytics</h3>

            <h4>NPTEL</h4>

            <span>April 2025</span>
            
            <a class="certificate-btn"
            href="{{ url_for('static', filename='certificates/nptel.pdf') }}"
            target="_blank">

                <i class="fa-solid fa-file-pdf"></i>

                    View Certificate

            </a>

        </div>

        <!-- Deloitte -->

        <div class="cert-card">

            <img src="{{ url_for('static', filename='images/deloitte.png') }}" alt="Deloitte">

            <h3>Data Analytics Job Simulation</h3>

            <h4>Deloitte</h4>

            <span>September 2025</span>

            <a class="certificate-btn"
            href="{{ url_for('static', filename='certificates/deloitte.pdf') }}"
            target="_blank">

                <i class="fa-solid fa-file-pdf"></i>

                    View Certificate

            </a>

        </div>

        <!-- Future Interns -->

        <div class="cert-card">

            <img src="{{ url_for('static', filename='images/future-interns.png') }}" alt="Future Interns">

            <h3>Data Science & Analytics</h3>

            <h4>Future Interns</h4>

            <span>October 2025</span>

            <a class="certificate-btn"
            href="{{ url_for('static', filename='certificates/future-interns.pdf') }}"
            target="_blank">

                <i class="fa-solid fa-file-pdf"></i>

                    View Certificate

            </a>

        </div>

        <!-- Edutainer -->

        <div class="cert-card">

            <img src="{{ url_for('static', filename='images/edutainer.png') }}" alt="Edutainer">

            <h3>Business Management & Analytics</h3>

            <h4>Edutainer</h4>

            <span>May 2026</span>

            <a class="certificate-btn"
            href="{{ url_for('static', filename='certificates/edutainer.pdf') }}"
            target="_blank">

                <i class="fa-solid fa-file-pdf"></i>

                    View Certificate

            </a>

        </div>

        <!-- Simplilearn -->

        <div class="cert-card">

            <img src="{{ url_for('static', filename='images/simplilearn.png') }}" alt="Simplilearn">

            <h3>Generative AI</h3>

            <h4>Simplilearn</h4>

            <span>May 2025</span>

            <a class="certificate-btn"
            href="{{ url_for('static', filename='certificates/simplilearn.pdf') }}"
            target="_blank">

                <i class="fa-solid fa-file-pdf"></i>

                    View Certificate

            </a>

        </div>

        <!-- Infosys -->

        <div class="cert-card">

            <img src="{{ url_for('static', filename='images/infosys.png') }}" alt="Infosys">

            <h3>Microsoft Power BI</h3>

            <h4>Infosys Springboard</h4>

            <span>January 2023</span>

            <a class="certificate-btn"
            href="{{ url_for('static', filename='certificates/infosys.pdf') }}"
            target="_blank">

                <i class="fa-solid fa-file-pdf"></i>

                    View Certificate

            </a>

        </div>

    </div>

</section>