<nav class="navbar">

    <div class="logo">
        Gagan Handral
    </div>

    <ul class="nav-links">
        <li><a href="#about">About</a></li>
        <li><a href="#experience">Experience</a></li>
        <li><a href="#certifications">Certifications</a></li>
        <li><a href="#leadership">Leadership & Activities</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#skills">Skills</a></li>
        <li><a href="#contact">Contact</a></li>
    </ul>

    <div class="menu-toggle">
        <i class="fa-solid fa-bars"></i>
    </div>

</nav>
